@import "_partials/_vars";
@import "_partials/_mixins";
@import url(https://fonts.googleapis.com/css?family=Cardo);

$credit-font: 'Cardo';


body {
	font-family: $credit-font;
	color: $credit-gold;
	font-size: 1.3em;
	background: url('../../images/desk.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&:before {
    	content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#556270,#6F7F92);
		opacity: .6; 
  }
}

form {
	display: inline;
}

label {
	margin: 20px 0 10px;
	display: block;
}

input[type="text"] {
	color: $grey;
	width: 100%;
	display: block;
	border: none;
	padding: 5px 2px;
	margin: 5px 0;

	#expiry, #cvv {
		width: 40%;
		display: inline-block;
	}

	&:focus {
		outline-color: rgba(255, 211, 184, 0.05);
		outline-width: thin;
	}
}

select {
	border: none;
	color: $grey;
	cursor: pointer;
	width: 75px;
	
	&:focus {
		outline: none;
	}
}

.entry {
	border: 2px solid $credit-gold;
	padding: 0 45px;
	@include vertical-centred(-50%);
	background-color: $body-bg;
}

/**/
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
   color: $placeholder;
}
