@import "_partials/_mixins.scss";
@import "_partials/_vars.scss";
@import "_modules/_buttons.scss";
@import "_modules/_placeholder.scss";
// @import "_modules/_checkbox.scss";

*, body {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	background-color: $white;
}

/* CURSORS ----------- */
.pointer {
	cursor: pointer;
}

/* LAYOUT --------- */
.position {
	display: block;

	&.central {
		margin: 0 auto;
	}

	&.left {
		display: inline-block;
		float: left;
	}

	&.right {
		display: inline-block;
		float: right;
	}
}

.banner {
	text-align: center;
	border: 1px dashed $white;
	padding: 5px;
	margin: 10px;
	background-color: $body-bg;

	h1 {
		color: $h1-color;
		font-size: 3em;
	}

	h2 {
		color: $white;
		font-size: 2.3em;
		font-style: italic;
	}
}

/* LIST FOR ENTRIES */
.entry-list {
	display: block;

	.ui-entry {
		display: inline-block;
		width: 250px;
		border: 1px solid $grey;
		height: 150px;
		margin: 5px;
		text-align: center;
		background-color: $actual-white;

		@extend .pointer;
	}
}

/* TEXT ---------- */
li {
	font-size: 2em;
	color: $link-color;

	a {
		color: $link-color;
		text-decoration: none;
		@include vertical-centred(35%);

		&:hover {
			color: $link-hover;
		}
	}
}

h1 {
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size
}

h3 {
	font-size: $h3-size;
}