@import "_partials/_mixins.scss";
@import "_partials/_vars.scss";
@import "_modules/_buttons.scss";
@import "_modules/_placeholder.scss";
// @import "_modules/_checkbox.scss";

*, body {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* CURSORS ----------- */
.pointer {
	cursor: pointer;
}

/* LAYOUT --------- */
.position {
	display: block;

	&.central {
		margin: 0 auto;
	}

	&.left {
		display: inline-block;
		float: left;
	}

	&.right {
		display: inline-block;
		float: right;
	}
}

.banner {
	text-align: center;
	padding: 5px;
	border-bottom: 3px solid #cdb88d;
	background-color: $actual-white;
	height: 200px;
	font-family: $banner-font;

	h1 {
		font-size: 7em;
		text-transform: uppercase;
		@include vertical-centred(30%);
	}

	h2 {
		color: $white;
		font-size: 2.3em;
		font-style: italic;
	}
}

/* LIST FOR ENTRIES */
.entry-list {
	display: block;
	margin: 50px auto;

	.ui-entry {
		width: 250px;
		margin: 5px;
		@extend .pointer;
	}
}

.list-container {
	height: auto;
	display: flex;
}

/* TEXT ---------- */
li {
	font-size: 2em;

	a {
		text-decoration: none;
		@include vertical-centred(35%);

		&:hover {
			color: $link-hover;
		}
	}
}

h1 {
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size
}

h3 {
	font-size: $h3-size;
}