@import "_partials/_mixins.scss";
@import "_partials/_vars.scss";
@import "_modules/_buttons.scss";
@import "_modules/_placeholder.scss";
// @import "_modules/_checkbox.scss";

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	background-color: $body-bg;
}

/* LAYOUT --------- */
.position {
	display: block;

	&.central {
		margin: 0 auto;
	}

	&.left {
		display: inline-block;
		float: left;
	}

	&.right {
		display: inline-block;
		float: right;
	}
}

.banner {
	text-align: center;

	h1 {
		color: $h1-color;
		font-size: 3em;
	}

	h2 {
		color: $white;
		font-size: 2.3em;
		font-style: italic;
	}
}

/* TEXT ---------- */
li {
	letter-spacing: 5px;
	font-size: 2em;
	color: $link-color;

	a {
		color: $link-color;

		&:hover {
			color: $link-hover;
		}
	}
}

h1 {
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size
}

h3 {
	font-size: $h3-size;
}