@import "_partials/_vars";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin vertical-centred($percentage) {
	position: relative;
	top: $percentage;
	transform: translateY(-$percentage);
}

@mixin colour-opacity($colour, $opacity) {
	background: rgba($colour, $opacity);
}