/* VARIABLES */ 

// colors //
$body-bg: 					#556270;

$link-color:				#FF6B6B;
$link-hover: 				#4ECDC4;

$h1-color: 					#C7F464;

$white: 					#eee;
$actual-white:				#FFFFFF;
$black: 					#333;
$actual-black: 				#000;
$grey: 						#7E7E7E;

$twitter-blue: 				#50abf1;
$twitter-border: 			#4292CD;
$facebook-blue: 			#3d5a9c;
$facebook-border: 			#23345B;

$placeholder: 				#9C9C9C;

$credit-gold: 				rgb(255, 211, 184);
$rocket-red:				#db5030;

// sizes //
$h1-size: 					2em;
$h2-size:					1.8em;
$h3-size: 					1.6em;