/* VARIABLES */ 

// colors //
$body-bg: 					#556270;

$link-color:				#FF6B6B;
$link-hover: 				#4ECDC4;

$h1-color: 					#C7F464;

$white: 					#eee;
$black: 					#333;

$twitter-blue: 				#50abf1;
$twitter-border: 			#4292CD;
$facebook-blue: 			#3d5a9c;
$facebook-border: 			#23345B;

$placeholder: 				#7E7E7E;

$credit-gold: 				#e1d3b8;

// sizes //
$h1-size: 					2em;
$h2-size:					1.8em;
$h3-size: 					1.6em;