.btn {
	padding: 10px 20px;
	text-align: center;
	font-size: 1.1em;


	&.social-media {
		@include border-radius(5px);
		display: block;
		width: 80%;
		color: $white;
		text-decoration: none;
		margin: 15px auto;

		&.twitter {
			background-color: $twitter-blue;
			border: $twitter-border 1px solid;
		}

		&.facebook {
			background-color: $facebook-blue;
			border: $facebook-border 1px solid;
		}
	}

	&.signin {
		@include border-radius(5px);
		background-color: transparent;
		/*text-transform: uppercase;*/
		border: 3px solid $white;
		width: 100%;
		display: block;
		color: $white;
		font-weight: bold;
		text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.7);

		&:hover {
			background-color: rgba(255,255,255,0.5);
			border-color: $white;
			color: $actual-white;
			text-shadow: none;
		}

		&:focus {
			background-color: rgba(255,255,255, 0.2);
			/*outline: 0;*/
			outline-color: rgba(255, 255, 255, 0.05);
			outline-width: thin;
		}
	}

	&.pay {
		border: 2px solid $credit-gold;
		color: $credit-gold;
		background-color: rgba(255, 255, 255, 0.2);
		margin: 10px auto;

		&:hover {
			background-color: $credit-gold;
			text-decoration: underline;
			color: $white;
			border-color: $white;
		}
	}
}
